@import url("lato.css");
body, html {
	font-family: Lato, sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 90px;
	margin-bottom: 60px;
	font-size: 15px;
}

.navbar-header {
	float: left;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-brand {
	float: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.gradient {
	background: linear-gradient(120deg, #464545, #6e6e6e);
	color: #fff;
}

.text-white {
	color: #ffffff;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.main {
	visibility: hidden;
}

.form-control {
	display: block;
	width: 100%;
	height: 45px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.42857143;
	background-image: none;
	border-radius: 4px;
}

.btn {
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.42857143;
	border-radius: 4px;
	margin-bottom: 10px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

* {
	scrollbar-color: #464545 #6e6e6e;
}

*, ::after, ::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #6e6e6e;
}

::-webkit-scrollbar-thumb {
	background: #464545;
}